@charset "UTF-8";

/*
    Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/

body{
    background-color: #D8FFDB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: #023535;

}

h1#principal{
    text-align: center;
    color: #D8FFDB ;
    background-color:#015958;
}

h2{
    color:#008F8C;
}

.basico{
    color:#008F8C;
}

.intermediario{
    color:rgb(143, 134, 0);
}

.avancado{
    color:#8f0000;
}