body{
    background-color: rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.7em;
}
        
h1{
    color: white;
}

.voltar{
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.voltar:visited {
    color: lightgray;
}
.voltar:hover{
    text-decoration: underline;
    color: lightskyblue;
}
.voltar:active {
    color: blue;
}

