@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #92E6A7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-attachment: fixed;
}

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(#4AD66D, #155D27);
    margin: auto;
    box-shadow: 0px 3px 7px 3px  rgba(0, 0, 0, 0.459);
    
}

header > h1{
    font-family: 'oxanium';
    text-align: center;
    color: white;
    font-size: 2.5em;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.466);
    padding-top: 30px;
    margin-bottom: 20px;
}

header > p{
    text-align: center;
    max-width: 400px;
    margin: auto;
    color: white;
    padding-bottom: 15px;
    font-size: 1.2em;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.466);
}

nav{
    padding: 10px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    
}

nav > a:hover{
    background-color: #78C257;
    color: #155D27;
    transition-duration: 0.5s;
}

main{
    background-color: white;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 0px 0px 15px 15px ;
    box-shadow: 0px 5px 7px 3px rgba(0, 0, 0, 0.356);

    
}

div.video{
    background-color: #10451D;
    margin: 0px -20px 0 -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe{
    position: absolute;   
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%; 
}

main h1{
    font-family: 'oxanium';
    color: #10451D;
    font-size: 1.8em;
}

main h2{
    background-image: linear-gradient(to right, #B7EFC5, transparent );
    font-family: oxanium;
    color: #10451D;
}

main p{
    font-weight: 500;
    text-align: justify;
    margin: 15px 0px 15px 0px;
    text-indent: 25px;
    line-height: 1.5em;

}

main strong{
    color: #155D27;
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #10451D;
    background-color:#92E6A7;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: #155D27;

}

img{
    width: 100%;

}

img.pequeno{
    max-width: 320px;
    margin: auto;
    display: block;
} 


aside{
    background-color: #B7EFC5;
    border-radius: 15px;
    box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.356);
    margin-top: 15px;
    padding: 15px;
}

aside > h3{
    padding: 15px;
    background-color: #4AD66D;
    border-radius: 15px 15px 0px 0px ;
    color: white;
    margin: -15px -15px 0 -15px;
}

aside > ul{
    list-style-type:'\2705\00A0';
    padding-left: 40px;
    columns: 2;
}

footer{
    background-color: #155D27 ;
    color: white;
    text-align: center;
    padding: 3px;
    margin-top: 40px;
    
}

