body{
    background-image:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    font-size: 13pt;
}
main{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.604),inset 5px 5px 5px rgba(158, 158, 158, 0.812);;
    
}
h1{
    font-size: 2em;
    color:#004687 ;

}

a{
    color: black;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
    color:#004687;
}