@charset "UTF-8";
body{
            background-color: aquamarine;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
        h1{
            color: deeppink;
            background-color: aqua;
        }
        h2{
            color: red;
        }

        p{
            text-align: justify;
        }