@charset  "UTF-8";

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, rgb(79, 161, 255), rgb(168, 242, 255)20%80%,rgb(79, 161, 255));
    margin: 0px;
}
header{
    background-color: #f4f4f4;
    padding: 15px;
    margin: 40px;
    outline: 1.8px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.37), inset 2px 2px 4px  rgba(0, 0, 0, 0.411);
    
}
main{
    background-color: #f4f4f4;
    padding: 10px;
    margin: 40px;
    border-radius: 25px;
    outline: 1.8px solid black;

}
#noticias{
    margin: 0px;
}
footer{
    background-color: #f4f4f4;
    margin: 0%;
    text-align: center;
}

nav >  a:hover{
    color: blue;
    text-decoration: underline;
}

nav >  a{
    padding-right: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

   
