body{
    background-image:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    font-size: 13pt;
}
main{
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.604),inset 5px 5px 5px rgba(158, 158, 158, 0.812);;
    
}
h1{
    font-size: 2em;
    color:#004687 ;

}

section{
    background-color: lightgray;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0px 10px 0px;
    text-align: justify;
    font-size: 10pt;
    
}
h2{
    font-size: 1.5em;
    color: #0E3386;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
img{
    width: 60px;
    display: block;
    float: left; 
    margin: 10px 10px 10px 0;
}
a{
    color: black;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
    color:#004687;
}